<nav class="fixed top-0 left-0 w-full z-50 bg-black px-4 py-3 shadow-md flex justify-between items-center text-white">

  <% if flash[:alert] %>
    <div class="absolute top-16 left-1/2 -translate-x-1/2 bg-yellow-500 text-black px-4 py-2 rounded-xl shadow-lg text-sm font-semibold">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="absolute top-16 left-1/2 -translate-x-1/2 bg-green-500 text-black px-4 py-2 rounded-xl shadow-lg text-sm font-semibold">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="flex items-center space-x-2">
    <%= link_to root_path, class: "flex items-center space-x-2" do %>
      <%= image_tag "YouTube_icon.png" , alt: "YouTube Logo" , style: "height: 30px ; width: 50px" %>
      <span class="text-white font-bold text-lg">YouTube0.2</span>
    <% end %>
  </div>

  <div class="flex-1 mx-4 max-w-lg flex justify-center">
    <form action="<%= posts_path %>" method="get"
      class="flex items-center bg-[#272727] border border-gray-600 rounded-full px-5 py-2 w-full">

      <input
        type="text"
        name="query"
        placeholder="Search"
        value="<%= params[:query] %>"
        class="flex-1 bg-transparent text-white placeholder-gray-400 focus:outline-none text-lg"
      >

      <button type="submit" class="flex items-center justify-center pl-4">
        <%= image_tag "search1.png", alt: "Search",
          class: "h-6 w-6 opacity-70 hover:opacity-100 transition-transform hover:scale-110" %>
      </button>

    </form>
  </div>


  <div class="flex items-center space-x-5">
    <% if user_signed_in? %>

      <%= link_to new_post_path, class: "hover:text-gray-300 text-xl" do %>
        <i class="fas fa-video"></i>
      <% end %>

      <%= link_to notifications_path, class: "relative cursor-pointer" do %>
        <%= image_tag "bell.webp", class: "w-6 h-6" %>
        <% unread = current_user.notifications.unread.count %>
        <% if unread > 0 %>
          <span class="absolute -top-1 -right-2 bg-red-600 text-white text-[11px] font-bold rounded-full px-[6px]">
            <%= unread %>
          </span>
        <% end %>
      <% end %>

      <%= link_to edit_user_registration_path, class: "text-sm bg-[#272727] px-3 py-1 rounded-full hover:bg-[#3a3a3a]" do %>
        <i class="fas fa-user-circle text-2xl"></i>
        <span class="hidden md:block text-sm"><%= current_user.email %></span>
      <% end %>

      <%= link_to "Sign Out",
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: "text-sm bg-[#272727] px-3 py-1 rounded-full hover:bg-[#3a3a3a]"
      %>

    <% else %>
      <%= link_to "Sign In",
          new_user_session_path,
          class: "text-sm bg-[#272727] px-3 py-1 rounded-full hover:bg-[#3a3a3a]"
      %>
    <% end %>
  </div>

</nav>